.root {
  position: relative;
  display: inline-flex;
}

.rootInline {
  display: inline-block;
}

.trigger {
  color: var(--brand-on-background-medium);
  text-decoration: none;
  cursor: pointer;
}

.panel {
  position: absolute;
  z-index: 20;
  min-width: 200px;
  margin-top: 8px;
  right: 50%;
  transform: translateX(50%);
}